# Chap 3 - Built-in data structures, functions, files

### Tuples - immutable

In [1]:
tup = (4, 5, 6)                 
tup

(4, 5, 6)

In [4]:
tup = 4, 5, 6                    # Parenthesis is optional
tup

(4, 5, 6)

In [5]:
tuple([4, 0, 2])                 # Any itereator can be converted to tuple like a list

(4, 0, 2)

In [6]:
tup = tuple('string')            # Or a string
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]                            # Access the first element

's'

In [8]:
tup[0] = 'S'                      # Immutable, not allowed

TypeError: 'tuple' object does not support item assignment

In [10]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [12]:
nested_tup[0]
#nested_tup[1]

(4, 5, 6)

In [13]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False                             # Cannot modify tuple element

TypeError: 'tuple' object does not support item assignment

In [14]:
tup[1].append(3)                             # However, since list is mutable, we can add to the list inside a tuple
tup

('foo', [1, 2, 3], True)

In [15]:
(4, None, 'foo') + (6, 0) + ('bar',)         # Similar to strings, tuple can be concatenated

(4, None, 'foo', 6, 0, 'bar')

In [16]:
('foo', 'bar') * 4                            # Similar to string, can be multiplied

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [17]:
tup = (4, 5, 6)                              # Unpack a tuple to assign individual variables 
a, b, c = tup
b

5

In [27]:
a,b = tup                                    # The number of variables have to match
b

ValueError: too many values to unpack (expected 2)

In [28]:
tup = (4, 5, 6)                              # Putting a * before a variable name meaks b is the remainder of assignment
a, *b = tup
b

[5, 6]

In [22]:
tup = 4, 5, (6, 7)                         # Nested tuple to variables
a, b, (c, d) = tup
d

7

In [24]:
a, b = 1, 2
print ("Value of a is {} and that of b is {}".format(a,b))

Value of a is 1 and that of b is 2

In [32]:
b, a = a, b                         # Variable swap without using a temp variable
print ("Value of a is {} and that of b is {}".format(a,b))

Value of a is 8 and that of b is 7

In [35]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [36]:
values = 1, 2, 3, 4, 5           # The *rest of variables, if unwanted, often assigned an "_" name as below
a, b, *rest = values
a
b
rest

[3, 4, 5]

In [37]:
a, b, *_ = values

In [38]:
a = (1, 2, 2, 2, 3, 4, 2)                   # Since tuple is immutable, only 2 methods - count and index
a.count(2)

4

In [39]:
a = (1, 2, 2, 2, 3, 4, 2)
a.index(2)

1

### List - similar to tuples but mutable

In [41]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [42]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [43]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
b_list.append("dwarf")                 # append at the end
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [45]:
b_list.insert(1, "red")                # Insert at a specific position, moving everything to the right
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [48]:
b_list.pop(2)                          # Remove by position
b_list

['foo', 'red', 'baz', 'dwarf']

In [49]:
b_list.append("foo")
b_list
b_list.remove("foo")                 # Remove first occurrence
b_list

['red', 'baz', 'dwarf', 'foo']

In [50]:
"dwarf" in b_list                    # Checning for a value - sequential scan - slower than dict/set

True

In [51]:
"dwarf" not in b_list

False

In [52]:
[4, None, "foo"] + [7, 8, (2, 3)]    # Similar to tuples, sets can be concatenated

[4, None, 'foo', 7, 8, (2, 3)]

In [53]:
[1,2,3] * 2                          # Or "multiplied"

[1, 2, 3, 1, 2, 3]

In [56]:
x = [4, None, "foo"]                
x.extend([7, 8, (2,3)])              # add elements to list - preferred method than concat, which creates a new list and copies over
x

[4, None, 'foo', 7, 8, (2, 3)]

In [57]:
a = [7, 2, 5, 1, 3]                  # In place sort, the list itself is modified
a.sort()
a

[1, 2, 3, 5, 7]

In [59]:
b = ["saw", "small", "He", "foxes", "six"]         # Optional key to sort
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [60]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]                     # Slice from 1 to 4 position
seq[1:5]

[2, 3, 7, 5]

In [61]:
seq[3:5] = [6, 3]                                  
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [62]:
seq[:5]                                          # Default start is 0 and end is last
seq[3:]

[6, 3, 6, 0, 1]

In [63]:
seq[-4:]                                         # Last 4 elements

[3, 6, 0, 1]

In [64]:
seq[-6:-2]                                       # From 6th last to 2nd last

[3, 6, 3, 6]

In [65]:
seq[::2]                                         # Step - every 2nd element

[7, 3, 3, 0]

In [66]:
seq[::-1]                                       # Every element, but in reverse order

[1, 0, 6, 3, 6, 3, 2, 7]

In [70]:
seq                                             # It did not change the list.

[7, 2, 3, 6, 3, 6, 0, 1]

In [71]:
seq.reverse()                                    # This one reverses the list itself
seq

[1, 0, 6, 3, 6, 3, 2, 7]

### Dictionary - key-value pairs - mutable

In [72]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [74]:
d1[7] = "an integer"                      # Add a key/value pair. Key can be integer - 7
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [87]:
d1[-2.5] = "apple"                        # or a float, any atomic immutable type or tuple.
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', -2.5: 'apple'}

In [149]:
# Key has to be hashable/immutable - tuple is hashable 
hash ( 3 )
hash ((1,2,3))

529344067295497451

In [151]:
# All the elements of the tuple has to be hashable also i.e. cannot have a list inside a tuple
hash ((1,2,[3,4]))

TypeError: unhashable type: 'list'

In [150]:
hash ( [1,2,3]) # But list is mutable and it is not hashable

TypeError: unhashable type: 'list'

In [88]:
d1["b"]

[1, 2, 3, 4]

In [77]:
"b" in d1                                # Check if "b" is among the keys

True

In [89]:
d1[5] = "some value"
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 -2.5: 'apple',
 5: 'some value',
 'dummy': 'another value'}

In [81]:
del d1[5]                             # Delete the kv for key 5
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [82]:
ret = d1.pop("dummy")              # Pop also removes and returns the one that got deleted
ret

'another value'

In [90]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 -2.5: 'apple',
 5: 'some value',
 'dummy': 'another value'}

In [94]:
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
list(d1.keys())               # List all the keys

['a', 'b']

In [95]:
list(d1.values())             #  List all the values

['some value', [1, 2, 3, 4]]

In [96]:
list(d1.items())              # List all kvs, list of dictionary

[('a', 'some value'), ('b', [1, 2, 3, 4])]

In [97]:
d2 = {"b": "bar", "c": 12}
d1.update(d2)   # Append d2 to d1, if they key b already exists, it is updated, if not ; appended 
d1

{'a': 'some value', 'b': 'bar', 'c': 12}

In [130]:
# zip is an iterator to create a tuple
tuples = zip('abcdef', range(5))
tuples

In [131]:
# Dictionary can be created by combining two lists/tuples
d1 = dict(tuples)
d1

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [132]:
# The value from tuples location is copied thus it has nothing now
list(tuples)

[]

In [133]:
# Although the location is still the same
tuples

In [134]:
# It is common code to get the value for a key if it exists. 
value_present = d1.get ( 'e', "e exists, so it does not matter what we have here ")
value_present

4

In [140]:
# Or assign a value if the key does not exist.  
value_absent = d1.get ( 'f', 6)
value_absent

6

In [143]:
d1 # The dictionary itself is not changed

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [148]:
d1.pop('e')            # Removes key 'e' from d1 - altering it - if it exists if not raise an exception

KeyError: 'e'

In [152]:
# Simple code to put words in separate values ordered by the first letter of the word
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [153]:
# There is a methind - setdefault to do it easily

by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [46]:
# Another one in collections module

from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

### Sets - unordered collection of unique elements

In [157]:
set [2, 2, 2, 1, 3, 3]
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [160]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

set

In [161]:
a.union(b)   # It can be written as .union or | as shown here
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [162]:
a.intersection(b)   # Two ways of writing it
a & b

{3, 4, 5}

In [163]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [164]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [165]:
# Set elements, like dictionary keys, need to be immutable. To use a mutable list, convert it to tuple first
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [166]:
a_set = {1, 2, 3, 4, 5}      # Test for a subset
{1, 2, 3}.issubset(a_set)

True

In [167]:
a_set.issuperset({1, 2, 3})   # And superset

True

In [168]:
{1, 2, 3} == {3, 2, 1}     # Two sets are equal if they have the same elements

True

In [175]:
a_set = {1, 2, 3, 4, 5}    # add 
a_set.add (6)
a_set

{1, 2, 3, 4, 5, 6}

In [170]:
a_set.remove(3)
a_set

{1, 2, 4, 5, 6}

In [179]:
a_set.pop()     # removes the first element from left
a_set

{4, 5, 6}

In [182]:
a = {1,2,3,4,5,6}     # set operation minus
b = {4,5,6,7,8,9}
a - b
a.difference(b)

{1, 2, 3}

In [183]:
a = {1,2,3,4,5,6}        # difference and update
b = {4,5,6,7,8,9}
a -= b
a.difference_update(b)
a

{1, 2, 3}

In [186]:
a = {1,2,3,4,5,6}      # Superset
A = {2,6,5}
a.issuperset(A)
a >= A

True

In [187]:
a = {2,3}              # Subset
A = {2,6,5,3,1}
a.issubset(A)
a <= A

True

In [188]:
a = {1,2,3}             # no common elements
b = {4,5,6}
a.isdisjoint(b)

True

### Built-in sequence functions

In [189]:
sorted([7, 1, 2, 6, 0, 3, 2])     # similar to sort method for lists

[0, 1, 2, 2, 3, 6, 7]

In [190]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [191]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [192]:
seq3 = [False, True]                  # zip creates a tuple or list here, only as long as the shortest values - seq3 run out
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [193]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [194]:
list(reversed(range(10)))    # reverse iterator

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [195]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [208]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [209]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [210]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [211]:
# Given some names of people
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [212]:
# Create a list of names with 2 or more "a"s 
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [213]:
# Shorter way
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [214]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [71]:
[[x for x in tup] for tup in some_tuples]

### Functions

In [215]:
def my_function(x, y):
    return x + y

In [216]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [217]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [218]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [219]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

In [223]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [224]:
func()
a

[0, 1, 2, 3, 4]

In [225]:
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [230]:
# Declare a global variable inside a function that persists in calling methid
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [227]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [228]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [229]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [234]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [232]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [233]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [235]:
# Lambda or anonymous function is a function with a single line code often used in data analysis
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [236]:
short_function (5)

10

In [237]:
equiv_anon (5)

10

In [238]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)     # Return every element of the list, doubled

[8, 0, 2, 10, 12]

In [242]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

2
4
3
1
2

In [240]:
# Sort the strings above in order of number of unique letters. foo and abab both has two and it is kept at the same order
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [256]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [265]:
# Iterator object - using iter method
dict_iterator = iter(some_dict)
dict_iterator                     # memory location 

# Iterator is any object that that can be used in a for loop. Built in methods like min/max or list/tuple.

In [266]:

list(dict_iterator)
#But once used the data goes away and you have to generate the iterator again

['a', 'b', 'c']

In [264]:
min(dict_iterator)

ValueError: min() arg is an empty sequence

In [267]:
dict_iterator = iter(some_dict)
min(dict_iterator)

'a'

In [268]:
# generator - a function to construct an iterable object. Unlike normal fuctions, generators do not run when called.
# Also they do not return but they "yield"
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2                    # Note yield, not return

In [269]:
# Nothing happens when gen is called - other than getting a memory location of the generator.
# Simimar to SQL statement parsing or lazy execution of 
gen = squares()
gen

In [270]:
# Until you request elements - similar to fetching SQL cursor
# Generators produce one element at a time as output - so it may use less memory
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [271]:
gen = (x ** 2 for x in range(100))
gen

In [272]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [273]:
# Module itertools have generators for some common data algorithms
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

# This one does a group by of names - till the first letter changes - thus Albert is not with Adam

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [99]:
float("1.2345")
float("something")

In [100]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [101]:
attempt_float("1.2345")
attempt_float("something")

In [102]:
float((1, 2))

In [103]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [104]:
attempt_float((1, 2))

In [105]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [274]:
# File operation

path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [275]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [276]:
f.close()

In [277]:
# Automatically close a file using "with" block

with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [278]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [280]:
f1.tell()      # Current byte position

11

In [281]:
f2.tell()

10

In [282]:
import sys
sys.getdefaultencoding()

'utf-8'

In [283]:
f1.seek(3)        # Move to 3rd byte of the file
f1.read(1)

'ñ'

In [284]:
f1.tell()

5

In [286]:
f1.close()
f2.close()

In [115]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

In [287]:
import os
os.remove("tmp.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'tmp.txt'

In [288]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

UTF-8 is a variable length unicode ncoding so reading 10 characters may be anywhere from 10 to 40 bytes

10

In [289]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [290]:
data.decode("utf-8")
data[:4].decode("utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [291]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

Sueña el r

In [292]:
os.remove(sink_path)

In [293]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte